In [1]:
import numpy as np # Fundamental package for linear algebra and multidimensional arrays
import pandas as pd # Data analysis and manipultion tool

In [2]:
bank_marketing_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/bank_marketing_data/training_set_label.csv" )

In [3]:
bank_marketing_data.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribe
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0

In [4]:
# Import label encoder
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

In [5]:
bank_marketing_data['job_le']=label_encoder.fit_transform(bank_marketing_data['job'])

bank_marketing_data['marital_le']=label_encoder.fit_transform(bank_marketing_data['marital'])

bank_marketing_data['education_le']=label_encoder.fit_transform(bank_marketing_data['education'])

bank_marketing_data['default_le']=label_encoder.fit_transform(bank_marketing_data['default'])

bank_marketing_data['housing_le']=label_encoder.fit_transform(bank_marketing_data['housing'])

bank_marketing_data['loan_le']=label_encoder.fit_transform(bank_marketing_data['loan'])

bank_marketing_data['poutcome_le']=label_encoder.fit_transform(bank_marketing_data['poutcome'])

In [6]:
bank_marketing_data.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,...,previous,poutcome,subscribe,job_le,marital_le,education_le,default_le,housing_le,loan_le,poutcome_le
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,...,0,unknown,0,4,1,2,0,1,0,3
1,44,technician,single,secondary,no,29,yes,no,unknown,5,...,0,unknown,0,9,2,1,0,1,0,3
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,...,0,unknown,0,2,1,1,0,1,1,3
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,...,0,unknown,0,1,1,3,0,1,0,3
4,33,unknown,single,unknown,no,1,no,no,unknown,5,...,0,unknown,0,11,2,3,0,0,0,3

In [7]:
bank_marketing_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'subscribe', 'job_le', 'marital_le',
       'education_le', 'default_le', 'housing_le', 'loan_le', 'poutcome_le'],
      dtype='object')

In [8]:
X = bank_marketing_data[['age', 'balance', 'duration', 'campaign', 'pdays',
'previous', 'job_le', 'marital_le',
'education_le', 'default_le', 'housing_le', 'loan_le', 'poutcome_le']]

In [9]:
X

,age,balance,duration,campaign,pdays,previous,job_le,marital_le,education_le,default_le,housing_le,loan_le,poutcome_le
0,58,2143,261,1,-1,0,4,1,2,0,1,0,3
1,44,29,151,1,-1,0,9,2,1,0,1,0,3
2,33,2,76,1,-1,0,2,1,1,0,1,1,3
3,47,1506,92,1,-1,0,1,1,3,0,1,0,3
4,33,1,198,1,-1,0,11,2,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,825,977,3,-1,0,9,1,2,0,0,0,3
45207,71,1729,456,2,-1,0,5,0,0,0,0,0,3
45208,72,5715,1127,5,184,3,5,1,1,0,0,0,2
45209,57,668,508,4,-1,0,1,1,1,0,0,0,3
45210,37,2971,361,2,188,11,2,1,1,0,0,0,1

In [10]:
y = bank_marketing_data['subscribe']

In [11]:
# import train_test_split
from sklearn.model_selection import train_test_split

In [12]:
# split the data
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.3)

# X_train: independent/input feature data for training the model
# y_train: dependent/output feature data for training the model
# X_test: independent/input feature data for testing the model; will be used to predict the output values
# y_test: original dependent/output values of X_test; We will compare this values with our predicted values to check the performance of our built model.

# test_size = 0.30: 30% of the data will go for test set and 70% of the data will go for train set
# random_state = 42: this will fix the split i.e. there will be same split for each time you run the co

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
rfc = RandomForestClassifier()

In [15]:
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [16]:
pred = rfc.predict(X_val)

In [17]:
# import mean squared error from sklearn.metric
from sklearn.metrics import f1_score
print('F1 Score is: ', np.sqrt(f1_score(y_val, pred)))

F1 Score is:  0.6866546490688222